element.style {
    background: #474747;
}

body {
    align-items: center;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffff;
    font-weight: 400;
}

b {
    align-items: center;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffff;
    font-weight: 400;
}

.check-column {
    float: left;
    width: 50%;
}

.mapcontent {
    margin-top: 50px;
}

.mapTitle {
    background-color: #686868;
}

.mapBanner {
    width:100%; 
    height:100px;
}

.mapBannerIMG {
    width:100%; 
    height:100%; 
    align-items: center;
    object-fit:cover; 
}

.mapUtil {
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #373737;
}

.mapInstall {
    float: left;
    margin-left: 2px;
}

.smallTitle {
    font-size: 18px;
    font-weight: 600;
}

.settingsDiv {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #474747;
    overflow: hidden;
    padding: 5px;
}

#secondinstallDiv {
    background-color: #FF8300;
    margin-bottom: 3px;
}